@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Base */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

/* Menu Container */
.select-menu {
  width: 380px;
  position: relative; /* Para a lista absoluta */
}

/* Botão */
.select-menu .select-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 20px;
  background: white;
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.select-btn:focus-visible {
  outline: 2px solid #4f46e5;
  outline-offset: 2px;
}

.select-btn .icon-arrow {
  font-size: 1.5rem;
  transition: transform 0.5s ease;
}

.select-btn.active .icon-arrow {
  transform: rotate(180deg);
}

/* Lista de opções */
.select-menu .list {
  position: absolute;
  top: 100%; /* Fica logo abaixo do botão */
  left: 0;
  width: 100%;
  margin-top: 10px;
  font-size: 1.5rem;
  pointer-events: none; /* Evita clicar quando fechado */
}

.select-menu .list .option {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 0 16px;
  background: #fff;
  cursor: pointer;
  transform-origin: top;
  opacity: 0;
  transform: scale(0.95) translateY(-20px);
  margin-bottom: -55px;
  transition: opacity 0.5s ease, transform 0.5s ease, margin-bottom 0.5s ease;
  transition-delay: calc(0.1s * var(--i));
  pointer-events: auto;
}

/* Lista aberta */
.select-btn.active ~ .list .option {
  opacity: 1;
  transform: scale(1) translateY(0);
  margin-bottom: 0;
  transition-delay: calc(0.1s * var(--i));
}

/* Hover */
.list .option:hover {
  background: #f2f2f2;
}

/* Bordas arredondadas */
.list .option:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.list .option:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Ícones e textos */
.option .icon {
  font-size: 1.8rem;
  margin-right: 10px;
}

.option .option-text {
  font-size: 1.5rem;
  color: #333;
}
